---
schema: armada/Chart/v1
metadata:
  schema: metadata/Document/v1
  name: openstack-memcached
  labels:
    name: openstack-memcached-global
  layeringDefinition:
    abstract: false
    layer: global
  storagePolicy: cleartext
  substitutions:
    # Chart source
    - src:
        schema: pegleg/SoftwareVersions/v1
        name: software-versions
        path: .charts.osh.memcached
      dest:
        path: .source

    # Images
    - src:
        schema: pegleg/SoftwareVersions/v1
        name: software-versions
        path: .images.osh.memcached
      dest:
        path: .values.images.tags

    - src:
        schema: pegleg/EndpointCatalogue/v1
        name: osh_endpoints
        path: .osh.oslo_cache
      dest:
        path: .values.endpoints.oslo_cache
    - src:
        schema: pegleg/EndpointCatalogue/v1
        name: osh_endpoints
        path: .osh.prometheus_memcached_exporter
      dest:
        path: .values.endpoints.prometheus_memcached_exporter

data:
  chart_name: openstack-memcached
  release: openstack-memcached
  namespace: openstack
  wait:
    timeout: 900
    labels:
      release_group: clcp-openstack-memcached
    resources:
      - type: deployment
        min_ready: 33%
    native:
      enabled: false
  install:
    no_hooks: false
  upgrade:
    no_hooks: false
    pre:
      delete:
        - type: job
          labels:
            release_group: clcp-openstack-memcached
  values:
    monitoring:
      prometheus:
        enabled: true
    labels:
      server:
        node_selector_key: openstack-control-plane
        node_selector_value: enabled
    pod:
      lifecycle:
        upgrades:
          deployments:
            pod_replacement_strategy: RollingUpdate
            rolling_update:
              max_unavailable: 50%
  dependencies:
    - os-memcached-htk
...

---
schema: armada/Chart/v1
metadata:
  schema: metadata/Document/v1
  name: os-memcached-htk
  layeringDefinition:
    abstract: false
    layer: global
  substitutions:
    - src:
        schema: pegleg/SoftwareVersions/v1
        name: software-versions
        path: .charts.osh.memcached-htk
      dest:
        path: .source
  storagePolicy: cleartext
data:
  chart_name: os-memcached-htk
  release: os-memcached-htk
  namespace: os-memcached-htk
  timeout: 600
  wait:
    timeout: 600
  upgrade:
    no_hooks: true
  values: {}
  dependencies: []
...
