---
schema: armada/Chart/v1
metadata:
  schema: metadata/Document/v1
  name: tenant-ceph-client
  replacement: true
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      name: tenant-ceph-client-nc
    actions:
      - method: merge
        path: .
  storagePolicy: cleartext
data:
  values:
    conf:
      pool:
        target:
          osd: 18
...
