---
schema: armada/Chart/v1
metadata:
  schema: metadata/Document/v1
  replacement: true
  name: prometheus
  labels:
    name: prometheus-type
  layeringDefinition:
    abstract: false
    layer: type
    parentSelector:
      name: osh-infra-prometheus-global
    actions:
      - method: merge
        path: .
  storagePolicy: cleartext
data:
  values:
    pod:
      resources:
        enabled: true
        prometheus:
          limits:
            memory: "4Gi"
            cpu: "2000m"
          requests:
            memory: "2Gi"
            cpu: "1000m"
    storage:
      requests:
        storage: 100G
      storage_class: general
...
