apiVersion: "helm.toolkit.fluxcd.io/v2beta1"
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  releaseName: kube-prometheus-stack
  interval: 5m
  chart:
    spec:
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
    interval: 1m
  timeout: 5m
  # Reference values at
  # https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml
  values: {}
