apiVersion: "helm.toolkit.fluxcd.io/v2beta1"
kind: HelmRelease
metadata:
  name: minio
spec:
  releaseName: minio
  interval: 5m
  chart:
    spec:
      sourceRef:
        kind: HelmRepository
        name: minio
    interval: 1m
  wait: false
  timeout: 5m
  # Reference values at
  # https://github.com/minio/charts/blob/master/minio/values.yaml
  values: {}
