apiVersion: airshipit.org/v1alpha1
kind: VariableCatalogue
metadata:
  name: versions-treasuremap
  labels:
    airshipit.org/deploy-k8s: "false"
spec:
  helm_repositories:
    grafana:
      url: https://grafana.github.io/helm-charts
    kube_prometheus_stack:
      url: https://prometheus-community.github.io/helm-charts
    # NOTE: logging-operator and logging-operator-logging charts share this repository
    logging_operator:
      url: https://kubernetes-charts.banzaicloud.com
    minio:
      url: https://helm.min.io
    thanos:
      url: https://kubernetes-charts.banzaicloud.com
    ingress-nginx:
      url: https://kubernetes.github.io/ingress-nginx

  charts:
    grafana:
      chart: grafana
      version: 6.1.0
    kube_prometheus_stack:
      chart: kube-prometheus-stack
      version: 12.8.0
    logging_operator:
      chart: logging-operator
      version: 3.8.3
    logging_operator_logging:
      chart: logging-operator-logging
      version: 3.8.3
    minio:
      chart: minio
      version: 8.0.9
    thanos:
      chart: thanos-operator
      version: 0.1.0
    ingress-nginx:
      chart: ingress-nginx
      version: 3.5.1

  images:
    grafana:
      repository: grafana/grafana
      tag: 7.4.5
    kube_prometheus_stack:
      admission_webhooks:
        repository: jettech/kube-webhook-certgen
        tag: v1.5.0
      alertmanager:
        repository: quay.io/prometheus/alertmanager
        tag: v0.21.0
      prometheus:
        repository: quay.io/prometheus/prometheus
        tag: v2.24.0
      prometheus_config_reloader:
        repository: quay.io/prometheus-operator/prometheus-config-reloader
        tag: v0.46.0
      prometheus_operator:
        # NOTE: For prometheus and alertmanager instances managed by the operator
        # https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml#L1487
        alertmanagerDefaultBaseImage: quay.io/prometheus/alertmanager
        prometheusDefaultBaseImage: quay.io/prometheus/prometheus

        # Prometheus operator image
        image:
          repository: quay.io/prometheus-operator/prometheus-operator
          tag: v0.46.0
      thanos:
        image: quay.io/thanos/thanos:v0.17.2
        version: v0.17.2
    logging_operator:
      repository: ghcr.io/banzaicloud/logging-operator
      tag: 3.9.1
    logging_operator_logging:
      config_reloader:
        repository: jimmidyson/configmap-reload
        tag: v0.2.2
      fluentbit:
        repository: fluent/fluent-bit
        tag: 1.6.10
      fluentd:
        repository: ghcr.io/banzaicloud/fluentd
        tag: v1.11.5-alpine-9
      volume_mod:
        repository: busybox
        tag: latest
    minio:
      minio:
        repository: minio/minio
        tag: RELEASE.2020-11-06T23-17-07Z
      mc:
        repository: minio/mc
        tag: RELEASE.2020-10-03T02-54-56Z
    sip:
      kube-rbac-proxy: gcr.io/kubebuilder/kube-rbac-proxy:v0.5.0
      manager: quay.io/airshipit/sip:51e7ff85d617c0e94fa98920fdbacce3ad9e6bc0
    thanos:
      repository: banzaicloud/thanos-operator
      tag: latest
    ingress-nginx:
      controller:
        repository: k8s.gcr.io/ingress-nginx/controller
        tag: v0.44.0
      defaultBackend:
        repository: k8s.gcr.io/defaultbackend-amd64
        tag: 1.5
    vino:
      kube-rbac-proxy: gcr.io/kubebuilder/kube-rbac-proxy:v0.5.0
      libvirt: quay.io/airshipit/libvirt
      manager: quay.io/airshipit/vino:6480ddc3ba98fba21fd692b8489adb0177abb8b5
