---
schema: armada/Chart/v1
metadata:
  schema: metadata/Document/v1
  name: ucp-keystone-memcached
  layeringDefinition:
    abstract: false
    layer: global
  storagePolicy: cleartext
  substitutions:
    # Chart source
    - src:
        schema: pegleg/SoftwareVersions/v1
        name: software-versions
        path: .charts.ucp.memcached
      dest:
        path: .source

    # Images
    - src:
        schema: pegleg/SoftwareVersions/v1
        name: software-versions
        path: .images.ucp.memcached
      dest:
        path: .values.images.tags

    - src:
        schema: pegleg/EndpointCatalogue/v1
        name: ucp_endpoints
        path: .ucp.oslo_cache
      dest:
        path: .values.endpoints.oslo_cache
data:
  chart_name: ucp-keystone-memcached
  release: ucp-keystone-memcached
  namespace: ucp
  protected:
    continue_processing: false
  wait:
    timeout: 600
    labels:
      release_group: clcp-ucp-keystone-memcached
  install:
    no_hooks: false
  upgrade:
    no_hooks: false
    pre:
      delete:
          - type: job
            labels:
              release_group: clcp-ucp-keystone-memcached
  values:
    labels:
      server:
        node_selector_key: ucp-control-plane
        node_selector_value: enabled
  dependencies:
    - ucp-memcached-htk
...
