---
schema: armada/Chart/v1
metadata:
  schema: metadata/Document/v1
  name: openstack-ceph-config
  labels:
    name: openstack-ceph-config-global
    component: ceph
  layeringDefinition:
    abstract: false
    layer: global
  storagePolicy: cleartext
  substitutions:
    # Chart source
    - src:
        schema: pegleg/SoftwareVersions/v1
        name: software-versions
        path: .charts.ucp.ceph-provisioners
      dest:
        path: .source

    # Images
    - src:
        schema: pegleg/SoftwareVersions/v1
        name: software-versions
        path: .images.ceph.ceph-provisioners
      dest:
        path: .values.images.tags

    # IP addresses
    - src:
        schema: pegleg/CommonAddresses/v1
        name: common-addresses
        path: .storage.ceph.public_cidr
      dest:
        path: .values.network.public
    - src:
        schema: pegleg/CommonAddresses/v1
        name: common-addresses
        path: .storage.ceph.cluster_cidr
      dest:
        path: .values.network.cluster

    # Endpoints
    - src:
        schema: pegleg/EndpointCatalogue/v1
        name: ucp_endpoints
        path: .ceph.ceph_mon
      dest:
        path: .values.endpoints.ceph_mon

data:
  chart_name: openstack-ceph-config
  release: openstack-ceph-config
  namespace: openstack
  wait:
    timeout: 900
    labels:
      release_group: airship-openstack-ceph-config
  install:
    no_hooks: false
  upgrade:
    no_hooks: false
    pre:
      delete:
        - type: job
          labels:
            release_group: airship-openstack-ceph-config
  values:
    labels:
      job:
        node_selector_key: openstack-control-plane
        node_selector_value: enabled
      provisioner:
        node_selector_key: openstack-control-plane
        node_selector_value: enabled
    deployment:
      ceph: false
      client_secrets: true
      rbd_provisioner: false
      cephfs_provisioner: false
      rgw_keystone_user_and_endpoints: false
    bootstrap:
      enabled: false
    storageclass:
      rbd:
        ceph_configmap_name: ceph-etc
        parameters:
          userSecretName: pvc-ceph-client-key
      cephfs:
        provision_storage_class: false
  dependencies:
    - ceph-htk
...
