---
# The purpose of this file is to define the environment-specific public-facing
# VIP for the ingress controller
schema: armada/Chart/v1
metadata:
  schema: metadata/Document/v1
  name: ingress-kube-system
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      ingress: kube-system
    actions:
      - method: merge
        path: .
  storagePolicy: cleartext
data:
  values:
    network:
      ingress:
        disable-ipv6: "true"
      vip:
        manage: true
        addr: '10.23.21.20/32'
...
