apiVersion: airshipit.org/v1alpha1
kind: ReplacementTransformer
metadata:
  name: thanos-versions-replacements
  annotations:
    config.kubernetes.io/function: |-
      container:
        image: quay.io/airshipit/replacement-transformer:latest
replacements:
- source:
    objref:
      kind: VariableCatalogue
      name: versions-treasuremap
    fieldref: "{.spec.helm_repositories.thanos}"
  target:
    objref:
      kind: HelmRepository
      name: thanos
    fieldrefs: ["{.spec}"]

- source:
    objref:
      kind: VariableCatalogue
      name: versions-treasuremap
    fieldref: "{.spec.charts.thanos.chart}"
  target:
    objref:
      kind: HelmRelease
      name: thanos-operator
    fieldrefs: ["{.spec.chart.spec.chart}"]
- source:
    objref:
      kind: VariableCatalogue
      name: versions-treasuremap
    fieldref: "{.spec.charts.thanos.version}"
  target:
    objref:
      kind: HelmRelease
      name: thanos-operator
    fieldrefs: ["{.spec.chart.version}"]

- source:
    objref:
      kind: VariableCatalogue
      name: versions-treasuremap
    fieldref: "{.spec.images.thanos}"
  target:
    objref:
      kind: HelmRelease
      name: thanos-operator
    fieldrefs: ["{.spec.values.image}"]
