apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - nodes
    #- ../../../../../../airshipctl/manifests/function/k8scontrol
  - ../../../../function/k8scontrol-ha
  - ../catalogues
  - metal3machinetemplate.yaml

patchesStrategicMerge:
        #- versions-catalogue-patch.yaml
        - patch_controlplane.yaml

transformers:
  #- ../../../../../../airshipctl/manifests/function/k8scontrol/replacements
  - ../../../../type/airship-core/ephemeral/controlplane/replacements
