apiVersion: "helm.toolkit.fluxcd.io/v2beta1"
kind: HelmRelease
metadata:
  name: thanos-operator
spec:
  releaseName: thanos-operator
  interval: 5m
  chart:
    spec:
      sourceRef:
        kind: HelmRepository
        name: thanos
    interval: 1m
  wait: false
  timeout: 5m
  # Reference values at
  # https://github.com/banzaicloud/thanos-operator/blob/master/charts/thanos-operator/values.yaml
  values:
    manageCrds: false
