resources:
  - ../../../../type/multi-tenant/target/workload
  - ../catalogues
transformers:
  - ../../../../function/ingress/replacements
  - ../../../../function/sip/replacements
  - ../../../../function/vino/replacements
