apiVersion: "helm.toolkit.fluxcd.io/v2beta1"
kind: HelmRelease
metadata:
  name: logging-operator
spec:
  dependsOn:
    - name: kube-prometheus-stack
  values:
    fullnameOverride: lma-infra-logging-operator
    monitoring:
      serviceMonitor:
        enabled: true
    tolerations:
      - key: node-role.kubernetes.io/master
        effect: NoSchedule
