apiVersion: "helm.toolkit.fluxcd.io/v2beta1"
kind: HelmRelease
metadata:
  name: logging-operator
spec:
  releaseName: logging-operator
  interval: 5m
  chart:
    spec:
      sourceRef:
        kind: HelmRepository
        name: banzaicloud
    interval: 1m
  timeout: 5m
  # Reference values at
  # https://github.com/banzaicloud/logging-operator/blob/master/charts/logging-operator/values.yaml
  values:
    # Use `createCustomResource=false` with Helm v3
    createCustomResource: false
