apiVersion: airshipit.org/v1alpha1
kind: Templater
metadata:
  name: secret-template
  annotations:
    config.kubernetes.io/function: |
      container:
        image: quay.io/airshipit/templater:latest
values:
template: |
  apiVersion: airshipit.org/v1alpha1
  kind: VariableCatalogue
  metadata:
    labels:
      airshipit.org/deploy-k8s: "false"
    name: password-secret
    annotations:
      config.kubernetes.io/path: secrets.yaml
  passwordRandom1: {{ derivePassword 1 "long" (randAscii 10) "user" "example.com" }}
