---
schema: armada/Chart/v1
metadata:
  schema: metadata/Document/v1
  name: openstack-mariadb
  labels:
    name: openstack-mariadb-global
    component: mariadb
  layeringDefinition:
    abstract: false
    layer: global
  storagePolicy: cleartext
  substitutions:
    # Chart source
    - src:
        schema: pegleg/SoftwareVersions/v1
        name: software-versions
        path: .charts.osh.mariadb
      dest:
        path: .source

    # Images
    - src:
        schema: pegleg/SoftwareVersions/v1
        name: software-versions
        path: .images.osh.mariadb
      dest:
        path: .values.images.tags

    # Endpoints
    - src:
        schema: pegleg/EndpointCatalogue/v1
        name: osh_endpoints
        path: .osh.oslo_db
      dest:
        path: .values.endpoints.oslo_db
    - src:
        schema: pegleg/EndpointCatalogue/v1
        name: osh_endpoints
        path: .osh.prometheus_mysql_exporter
      dest:
        path: .values.endpoints.prometheus_mysql_exporter

    # Accounts
    - src:
        schema: pegleg/AccountCatalogue/v1
        name: osh_service_accounts
        path: .osh.oslo_db.admin
      dest:
        path: .values.endpoints.oslo_db.auth.admin
    - src:
        schema: pegleg/AccountCatalogue/v1
        name: osh_service_accounts
        path: .osh.prometheus_mysql_exporter.user
      dest:
        path: .values.endpoints.prometheus_mysql_exporter.auth.user

    # Secrets
    - dest:
        path: .values.endpoints.oslo_db.auth.admin.password
      src:
        schema: deckhand/Passphrase/v1
        name: osh_oslo_db_admin_password
        path: .
    - dest:
        path: .values.endpoints.oslo_db.auth.exporter.password
      src:
        schema: deckhand/Passphrase/v1
        name: osh_oslo_db_exporter_password
        path: .

data:
  chart_name: openstack-mariadb
  release: openstack-mariadb
  namespace: openstack
  wait:
    timeout: 900
    labels:
      release_group: airship-openstack-mariadb
  install:
    no_hooks: false
  upgrade:
    no_hooks: false
    pre:
      delete:
        - type: job
          labels:
            release_group: airship-openstack-mariadb
  values:
    labels:
      server:
        node_selector_key: openstack-control-plane
        node_selector_value: enabled
      prometheus_mysql_exporter:
        node_selector_key: openstack-control-plane
        node_selector_value: enabled
    monitoring:
      prometheus:
        enabled: true
  dependencies:
    - openstack-mariadb-htk
...
---
schema: armada/Chart/v1
metadata:
  schema: metadata/Document/v1
  name: openstack-mariadb-htk
  layeringDefinition:
    abstract: false
    layer: global
  storagePolicy: cleartext
  substitutions:
    - src:
        schema: pegleg/SoftwareVersions/v1
        name: software-versions
        path: .charts.osh.mariadb-htk
      dest:
        path: .source
data:
  chart_name: openstack-mariadb-htk
  release: openstack-mariadb-htk
  namespace: openstack-mariadb-htk
  values: {}
  dependencies: []
...
