---
schema: armada/Chart/v1
metadata:
  schema: metadata/Document/v1
  name: ucp-ceph-provisioners
  layeringDefinition:
    abstract: false
    layer: global
  storagePolicy: cleartext
  labels:
    name: ucp-ceph-provisioners
  substitutions:
    # Chart source
    - src:
        schema: pegleg/SoftwareVersions/v1
        name: software-versions
        path: .charts.ucp.ceph-provisioners
      dest:
        path: .source

    # Images
    - src:
        schema: pegleg/SoftwareVersions/v1
        name: software-versions
        path: .images.ceph.ceph-provisioners
      dest:
        path: .values.images.tags

    # IP addresses
    - src:
        schema: pegleg/CommonAddresses/v1
        name: common-addresses
        path: .storage.ceph.public_cidr
      dest:
        path: .values.network.public
    - src:
        schema: pegleg/CommonAddresses/v1
        name: common-addresses
        path: .storage.ceph.cluster_cidr
      dest:
        path: .values.network.cluster

    # Endpoints
    - src:
        schema: pegleg/EndpointCatalogue/v1
        name: ucp_endpoints
        path: .ceph.ceph_mon
      dest:
        path: .values.endpoints.ceph_mon

    # Secrets
    - dest:
       path: .values.conf.ceph.global.fsid
      src:
        schema: deckhand/Passphrase/v1
        name: ceph_fsid
        path: .

data:
  chart_name: ucp-ceph-provisioners
  release: ucp-ceph-provisioners
  namespace: ceph
  protected:
    continue_processing: false
  wait:
    timeout: 900
    labels:
      release_group: clcp-ucp-ceph-provisioners
    resources:
      - type: deployment
        min_ready: 1
    native:
      enabled: false
  install:
    no_hooks: false
  upgrade:
    no_hooks: false
    pre:
      delete:
        - type: job
          labels:
            release_group: clcp-ucp-ceph-provisioners
  values:
    labels:
      job:
        node_selector_key: ucp-control-plane
        node_selector_value: enabled
      provisioner:
        node_selector_key: ucp-control-plane
        node_selector_value: enabled
    endpoints:
      ceph_mon:
        namespace: ceph
    deployment:
      ceph: true
      client_secrets: false
      rbd_provisioner: true
      cephfs_provisioner: false
    bootstrap:
      enabled: true
    pod:
      replicas:
        rbd_provisioner: 1

    conf:
      ceph:
        global:
          osd_mkfs_type: xfs
    storageclass:
      rbd:
        ceph_configmap_name: ceph-client-keys-etc
        parameters:
          userSecretName: pvc-ceph-client-key
      cephfs:
        provision_storage_class: false
  dependencies:
    - ceph-htk
...
